form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="url"],
form input[type="password"],
form input[type="search"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% - 22px); /* Adjusting for padding and border */
}

.aligned label {
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}

#advanced_admin_search {
    max-height: 80%;
    width: 100%;
}

.form_submit_button {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    height: 30px !important;
    width: 150px !important;
    background-color: #fff!important;
    border: 1px solid #ddd!important;
    color: #454545!important;
}

.search_button {
    padding-left: 8px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.search_button>a {
    background-image: none!important;
    padding: 9px 33px 9px 32px !important;
    border-radius: 3px!important;
    color: #454545!important;
    font-size: 16px!important;
    text-transform: none!important;
    letter-spacing: normal!important;
    background-color: #fff!important;
    border: 1px solid #ddd!important;
    background-clip: padding-box;
}
